<!--TODO: Reimplement search/repipe selection-->
<mat-form-field appearance="outline" floatLabel="always">
  <mat-label>Items</mat-label>
  <mat-select placeholder="Select an item" [ngModel]="selectedUserItemIndex" (ngModelChange)="selectedUserItemIndexChange.emit($event)">
    <!-- <div id="search">
      <mat-icon>
        search
      </mat-icon>
      <input matInput placeholder="Search" (keydown)="filterItems($event)">
    </div> -->
    <mat-option [routerLink]="[userService.selectedEpoch + '/create']" mat-dialog-close>
      <mat-icon>
        add
      </mat-icon>
      Create a new item
    </mat-option>
    <div *ngFor="let userItem of userService.user.items[UserItemType.FOOD]; let index = index;" class="option-container">
      <mat-option [value]="index" (click)="userItemSelected.emit({
        userItem: userItem, 
        userItemType: UserItemType.FOOD
      })">
        {{userItem.name}}
      </mat-option>
      <button mat-icon-button (click)="removeItem(index)" color="warn">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div> 
      <!-- <ng-container *ngIf="userService.user.items[userItemTypeKey]; let userItemType">
        <mat-optgroup *ngIf="userItemType.length;" [label]="(userItemTypeKey | titlecase) + 's'">
          <mat-option *ngFor="let userItem of userItemType; let index = index;" [value]="index" (click)="userItemSelected.emit({
            userItem: userItem, 
            userItemType: userItemTypeKey
          })">
            {{userItem.name}}
          </mat-option>
        </mat-optgroup>
      </ng-container>
    </ng-container> -->
  </mat-select>
</mat-form-field>