#search {
  display: flex;
  align-items: center;
  padding: 0.75em;
  input {
    margin-left: 0.25em;
  }
}

mat-form-field {
  width: 100%;
}

::ng-deep {
  .dark-theme #search {
    color: #ffffff;
  }
  .mat-form-field-wrapper {
    padding: 0;
    margin-bottom: 0;
  }
}