<main>
  <div id="date">
    <button mat-icon-button [matMenuTriggerFor]="navigationCalendar">
      <mat-icon>
        today   
      </mat-icon>
    </button>
    <h3>
      {{selectedDate | date: 'M/d/yyyy'}}
    </h3>
  </div>
  <div>
    <button mat-icon-button (click)="navigateToDate(selectedDate.setDate(selectedDate.getDate() - 1))">
      <mat-icon>
        keyboard_arrow_left
      </mat-icon>
    </button>
    <button mat-icon-button (click)="navigateToDate(selectedDate.setDate(selectedDate.getDate() + 1))">
      <mat-icon>
        keyboard_arrow_right
      </mat-icon>
    </button>
  </div>
</main>
<mat-menu #navigationCalendar="matMenu">
  <div (click)="$event.stopPropagation();">
    <mat-calendar [selected]="selectedDate" (selectedChange)="onDateSelect($event)">
    </mat-calendar>  
  </div>
</mat-menu>