mat-dialog-content {
  flex-direction: column;  
  &, div {
    display: flex;
  }
}

div > div {
  display: flex;
  flex-direction: column;
  span {
    margin-top: -10px;
  }
  &:not(:first-of-type) {
    margin-left: 24px;
  }
}