<form #form="ngForm">
  <h1 mat-dialog-title>
    Nutrition Goals
  </h1>
  <mat-dialog-content *ngIf="'[0-9]{1,9}(?:\.[0-9]{1,2})?$'; let numberRegex">
    <mat-form-field floatLabel="always">
      <mat-label>
        Calories
      </mat-label>
      <input matInput required [(ngModel)]="currentUserGoals[NutritionDataKeys.CALORIES]" [pattern]="numberRegex" #calories="ngModel" name="calories">
      <mat-error>
        {{requiredErrorMessage}}
      </mat-error>
    </mat-form-field>
    <div>
      <mat-form-field floatLabel="always">
        <mat-label>
          Fat
        </mat-label>
        <input matInput [pattern]="numberRegex" ngModel required #fat="ngModel" name="fat">
        <span matSuffix>%</span>
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>
          Carbs
        </mat-label>
        <input matInput [pattern]="numberRegex" ngModel required #carbs="ngModel" name="carbs">
        <span matSuffix>%</span>
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>
          Protien
        </mat-label>
        <input matInput [pattern]="numberRegex" ngModel required #protien="ngModel" name="protien">
        <span matSuffix>%</span>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button [disabled]="form.invalid">Save</button>
    <button mat-stroked-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
