<form #form="ngForm">
  <h1 mat-dialog-title>
    Nutrition Goals
  </h1>
  <mat-dialog-content *ngIf="'[0-9]{1,9}(?:\.[0-9]{1,2})?$'; let numberRegex">
    <mat-form-field floatLabel="always">
      <mat-label>
        Calories
      </mat-label>
      <input matInput required [pattern]="numberRegex" [(ngModel)]="currentUserGoals[NutritionDataKeys.CALORIES]" #calories="ngModel" name="calories">
      <mat-error>
        {{requiredErrorMessage}}
      </mat-error>
    </mat-form-field>
    <div>
      <div *ngFor="let macroKey of macroKeys">
        <mat-form-field floatLabel="always">
          <mat-label>
            {{macroKey | titlecase}}
          </mat-label>
          <input matInput [pattern]="numberRegex" [ngModel]="userService.user.goals[NutritionDataKeys.CALORIES]/(userService.user.goals[macroKey]*9) | number: '1.0-0'" (ngModelChange)="currentUserGoals[macroKey] = Math.round((currentUserGoals[NutritionDataKeys.CALORIES]*$event)/900)" required [name]="macroKey" maxlength="2">
          <span matSuffix>%</span>
        </mat-form-field>
        <span>
          {{currentUserGoals[macroKey]}}g
        </span>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close [disabled]="form.invalid" (click)="saveGoals()">Save</button>
    <button mat-stroked-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
