@import '../../../../styles.scss';
@import '~@angular/material/theming';
@include mat-core();

mat-dialog-content {
  flex-direction: column;  
  &, div {
    display: flex;
  }
}

div > div {
  display: flex;
  flex-direction: column;
  span {
    margin-top: -10px;
  }
  &:not(:first-of-type) {
    margin-left: 24px;
  }
}

#error {
  @include mat-typography-level-to-styles(mat-typography-config(), caption);
  color: mat-color($warn);
}

#macros {
  
}