.mat-dialog-title {
  margin-bottom: 0;
}

::ng-deep #title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  button {
    width: auto;
    height: auto;
    &, .mat-button-ripple {
      line-height: initial;
    }
  }
}