<mat-toolbar color="primary">
  <span id="logo">
    <mat-icon>
      layers
    </mat-icon>
    Material Macros
  </span>
  <div>
    <button mat-icon-button>
      <mat-icon>
        today
      </mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="userService.angularFireAuth.auth.currentUser">
      <mat-icon>
        more_vert
      </mat-icon>
    </button>
  </div>
</mat-toolbar>
<main>
  <router-outlet>
  </router-outlet>
</main>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="toggleDarkTheme()">
    <mat-icon>
      brightness_medium
    </mat-icon>
    <span>
      Toggle dark theme
    </span>
  </button>
  <button mat-menu-item (click)="signOut()">
    <mat-icon>
      exit_to_app
    </mat-icon>
    <span>
      Sign out
    </span>
  </button>
</mat-menu>