<h2>
  {{nutritionData[NutritionDataKeys.CALORIES]}}/{{userService.user.goals[NutritionDataKeys.CALORIES]}} Calories
</h2>
<mat-progress-bar mode="determinate" [value]="nutritionData[NutritionDataKeys.CALORIES]/userService.user.goals[NutritionDataKeys.CALORIES] * 100">
</mat-progress-bar>
<div id="macros">
  <div *ngFor="let macroKey of macroKeys">
    <h4>
      {{macroKey | titlecase}}:
    </h4>
    <mat-progress-bar mode="determinate" [value]="nutritionData[macroKey]/userService.user.goals[macroKey] * 100">
    </mat-progress-bar>
    <h4>
      {{nutritionData[macroKey]}}/{{userService.user.goals[macroKey]}}g
    </h4>
  </div>
</div>
<mat-chip-list class="mat-chip-list-stacked">
  <mat-chip routerLink="goals">
    <mat-icon>
      bar_chart
    </mat-icon>
    Edit goals
  </mat-chip>
  <mat-chip routerLink="items">
    <mat-icon>
      edit
    </mat-icon>
    Edit items
  </mat-chip>
</mat-chip-list>