<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> 
      Name
    </th>
    <td mat-cell *matCellDef="let userLogItem"> 
      {{userLogItem.name}}
    </td>
  </ng-container>
  <ng-container [matColumnDef]="key" *ngFor="let key of nutritionDataKeysWithAmountKey">
    <th mat-header-cell *matHeaderCellDef [matTooltip]="appService.isMobile && macroKeys.includes(key) ? (key | titlecase) : null"> 
      {{appService.isMobile && macroKeys.includes(key) ? (key[0] | uppercase) : (key | titlecase)}}
    </th>
    <td mat-cell *matCellDef="let userLogItem"> 
      {{userLogItem[key == 'amount' ? 'amountPerServing' : key] * userLogItem.servings | round}} {{key == 'amount' ? userLogItem.servingUnit : ''}}
    </td>
  </ng-container>
  <ng-container matColumnDef="servings">
    <th mat-header-cell *matHeaderCellDef> 
      Servings
    </th>
    <td mat-cell *matCellDef="let userLogItem"> 
      <mat-form-field>
        <input matInput [ngModel]="userLogItem.servings" [pattern]="positiveIntegersRegex" (ngModelChange)="userLogItem.servings = servings.valid ? $event : userLogItem.servings" #servings="ngModel" (blur)="onServingsBlur(userLogItem)" (keyup.enter)="$event.target.blur()" (input)="servingsValidityChanged.emit(servings.valid)">
      </mat-form-field>
    </td>
  </ng-container>
  <ng-container matColumnDef="remove" *ngIf="makeItemsRemovable">
    <th mat-header-cell *matHeaderCellDef> 
    </th>
    <td mat-cell *matCellDef="let index = index;"> 
      <button mat-icon-button color="warn" (click)="removeClicked.emit(index)" matTooltip="Remove Item">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
