<h1 mat-dialog-title>
  Track New Item
</h1>
<mat-dialog-content>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Item</mat-label>
    <mat-select placeholder="Select item">
      <div id="search">
        <mat-icon>
          search
        </mat-icon>
        <input matInput placeholder="Search">
      </div>
      <ng-container *ngFor="let itemTypeKey of (itemsService.userItems | objectKeys)">
        <ng-container *ngIf="itemsService.userItems[itemTypeKey]; let userItemsCategory">
          <mat-option [value]="mealItemKey" *ngFor="let mealItemKey of (userItemsCategory | objectKeys)">
            {{userItemsCategory[mealItemKey].label}}
          </mat-option>
        </ng-container>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <!--<app-meal-item-stats>
  </app-meal-item-stats>-->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="primary">Track</button>
  <button mat-stroked-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>