<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-calendar></mat-calendar>
    </mat-sidenav>
    <mat-sidenav-content>
        <cdk-virtual-scroll-viewport itemSize="10"> 
            <mat-expansion-panel hideToggle="true" expanded="true" disabled="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Title
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Desc
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <p>Test</p>
            </mat-expansion-panel>
            <div cdkDropList (cdkDropListDropped)="drop($event)">
                <ng-container *cdkVirtualFor="let key of (meals | objectKeys);">
                    <div *ngIf="key === 'other'; else meal">{{key}}</div>
                    <ng-template #meal>
                        {{key}}
                    </ng-template>
                    <!-- <div *ngFor="let mealItem of meals[key];" style="border: 1px solid grey; background: white;" cdkDrag>{{mealItem | json}}</div> -->
                </ng-container>
            </div>
        </cdk-virtual-scroll-viewport>
    </mat-sidenav-content>
</mat-sidenav-container>
