@import '../../../styles';

:host {
    mat-sidenav-container {
        height: 100%;
    }

    mat-sidenav {
        max-width: 264px;
        width: 100%;
    }

    mat-sidenav-content {
        overflow-y: scroll;
    }

    mat-expansion-panel {
        border-radius: 0;
        background: mat-color($material-macros-accent);
        & , ::ng-deep mat-expansion-panel-header span {
            color: mat-color($material-macros-accent, 'accent-contrast');
        }
    }
}