<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-calendar></mat-calendar>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-expansion-panel hideToggle="true" expanded="true" disabled="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Title
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Desc
                </mat-panel-description> -->
            </mat-expansion-panel-header>
            <p>Test</p>
        </mat-expansion-panel>
    </mat-sidenav-content>
</mat-sidenav-container>
