@import '~@angular/material/theming';

mat-toolbar {
  @include mat-elevation(6);
  z-index: 2;
  position: fixed;
}

main {
  padding-top: 64px;
  height: 100vh;
  @media (max-width: 599px) {
    padding: 56px 0;
  }
}

#logo {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 7px;
  }
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}