@import '../../../styles';
@import '~@angular/material/theming';
@include mat-core();

div {
  margin-top: 1vh;
}

#policies {
  position: absolute;
  flex-direction: row;
  font-size: 10px;
  text-align: center;
  bottom: $footer-height + 20px;
  width: 100%;
  a {
    margin: 0 6px;
  }
}

:host {
  display: flex;
  flex-direction: column;
  @extend .mat-typography;
}

::ng-deep .firebaseui-card-footer {
  display: none;
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
