<mat-card class="mat-elevation-z0">
    <mat-icon>drag_handle</mat-icon>
    <div  *ngIf="userMealItems[item.type][item.key]; let userMealItem">
        <h2 class="mat-h2">{{userMealItem.label}}</h2>
        <table class="mat-h4">
            <tr>
                <th>Calories</th>
                <th>Fat (g)</th>
                <th>Carbs (g)</th>
                <th>Protein (g)</th>
                <th>Total Amount (selectedUnit)</th>
            </tr>
            <tr>
                <td>{{userMealItem.calories}}</td>
                <td>{{userMealItem.fat}}</td>
                <td>{{userMealItem.carbs}}</td>
                <td>{{userMealItem.protien}}</td>
                <td>100</td>
            </tr>
        </table> 
        <div>   
            <mat-form-field appearance="standard">
                <mat-label>Servings</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Units</mat-label>
                <mat-select>
                    <mat-option *ngFor="let servingTypeKey of (userMealItem.servingTypes | objectKeys)">
                        <ng-container *ngIf="userMealItem.servingTypes[servingTypeKey]; let servingType">
                            {{servingType.label}} ({{servingType.unit}})
                        </ng-container>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-card>