<mat-icon>drag_handle</mat-icon>
<div>
    <h2 class="mat-h2">{{userMealItems[item.type][item.key].label}}</h2>
    <table class="mat-h4">
        <tr>
            <th>Calories</th>
            <th>Fat (g)</th>
            <th>Carbs (g)</th>
            <th>Protein (g)</th>
            <th>Total Amount (selectedUnit)</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>100</td>
        </tr>
    </table> 
    <div>   
        <mat-form-field appearance="standard">
            <mat-label>Servings</mat-label>
            <input matInput>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Units</mat-label>
            <mat-select>
                <mat-option>
                    Grams (g)
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
