mat-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    mat-icon {
        margin-right: 20px;
    }
    div {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        div {
            flex-direction: row;
            padding: 0;
            mat-form-field:first-of-type {
                padding-right: 10px;
                margin-right: 10px;
            }
        }
    }
}

mat-form-field {
    width: 50%;
    &.mat-form-field-appearance-outline {
        width: 100%;
    }
}

::ng-deep  {
    &.mat-select-panel-wrap {
        #search {
            display: flex;
            align-items: center;
            padding: 0.75em;
        }
        input {
            margin-left: 0.25em;
        }
    }
    &.mat-form-field-appearance-standard .mat-form-field-flex {
        padding-top: 0;
    }
}