// mat-expansion-panel {
//     margin-bottom: 20px;
//     box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0,0,0,.12);
//     border-width: 1px;
//     border-style: solid;
//     border-color: #e0e0e0;
// }

:host {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding: 24px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0,0,0,.12);
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    background: #ffffff;
    div {
        flex-direction: row;
        display: flex;
        padding: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        mat-form-field:first-of-type {
            padding-right: 10px;
            margin-right: 10px;
        }
    }
}

h1 {
    line-height: 1;
    margin: 0;
    margin-bottom: 12px;
}

h3 {
    line-height: 26px;
    margin: 0;
}

mat-form-field {
    width: 50%;
    &.mat-form-field-appearance-outline {
        width: 100%;
    }
}

::ng-deep  {
    // &.mat-select-panel-wrap {
    //     #search {
    //         display: flex;
    //         align-items: center;
    //         padding: 0.75em;
    //     }
    //     input {
    //         margin-left: 0.25em;
    //     }
    // }
    &.mat-form-field-appearance-standard .mat-form-field-flex {
        padding-top: 0;
    }
}