@import '~@angular/material/theming';
@include mat-core();
$palette: (
  primary: #004d40,
  accent: #39796b,
  contrast: (
    primary: #ffffff,
    accent: #ffffff,
  )
);
$primary: mat-palette($palette, primary);
$accent: mat-palette($palette, accent);
$warn: mat-palette($mat-red);

.light-theme {
  $light-theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($light-theme);
  .mat-snack-bar-container {
    color: rgba(0, 0, 0, 0.87);
    background: #fafafa;
  }
}

.dark-theme {
  $dark-theme: mat-dark-theme($primary, $accent, $warn);
  @include angular-material-theme($dark-theme);
  .mat-button-wrapper, .mat-icon-button {
    color: #ffffff;
  }
  .mat-snack-bar-container {
    color: rgba(255, 255, 255, 0.7);
    background: #323232;
  }
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* { 
  box-sizing: border-box; 
}

mat-chip {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.12);
  mat-icon {
    $size: 20px;
    font-size: $size !important;
    width: $size !important;
    height: $size !important;
  }
}

.mat-chip-list-wrapper {
  margin: 0 !important;
  .mat-standard-chip {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
}

mat-dialog-actions {
  margin: 0;
  min-height: 0 !important;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

// .light-theme .mat-snack-bar-container {
//   color: rgba(0, 0, 0, 0.87);
//   background: #fafafa;
// }

// .dark-theme .mat-snack-bar-container {
//   color: rgba(255, 255, 255, 0.7);
//   background: #323232;
// }

::ng-deep {
  & h3 {
    line-height: 24px !important;
    margin-bottom: 10px !important;
  }
}

app-items-dialog .mat-form-field-infix {
  width: auto;
}

app-track mat-chip mat-icon {
  margin-right: 5px;
}
