<div id="main">
  <mat-form-field floatLabel="always">
    <mat-label>
      Name
    </mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>
      Calories
    </mat-label>
    <input matInput>
  </mat-form-field>
</div>
<div id="macros">
  <mat-form-field floatLabel="always">
    <mat-label>
      Fat (g)
    </mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>
      Carbs (g)
    </mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>
      Protien (g)
    </mat-label>
    <input matInput>
  </mat-form-field>
</div>
<div id="units">
  <mat-form-field floatLabel="always">
    <mat-label>
      Unit Types
    </mat-label>
    <mat-select placeholder="Select unit type to edit">
      <mat-option>
        Option
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
