<form *ngIf="'Please enter the required field.'; let requiredErrorMessage" #userFoodItemForm="ngForm">
  <ng-container *ngIf="'^(([0-9]{1}(\d+)?)(\.\d+)?)|([0]\.(\d+)?([0-9]{1})(\d+)?)$'; let numberRegex">
    <div>
      <mat-form-field floatLabel="always">
        <mat-label>
          Name
        </mat-label>
        <input matInput [(ngModel)]="userFoodItem.name" required #name="ngModel" name="name">
        <mat-error>
          {{requiredErrorMessage}}
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>
          Calories
        </mat-label>
        <input matInput [pattern]="numberRegex" [(ngModel)]="userFoodItem.calories" required #calories="ngModel" name="calories">
        <mat-error>
          {{calories.errors?.pattern ? 'Please enter a valid number.' : requiredErrorMessage}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field floatLabel="always">
        <mat-label>
          Fat (g)
        </mat-label>
        <input matInput [pattern]="numberRegex" [(ngModel)]="userFoodItem.fat" required #fat="ngModel" name="fat">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>
          Carbs (g)
        </mat-label>
        <input matInput [pattern]="numberRegex" [(ngModel)]="userFoodItem.carbs" required #carbs="ngModel" name="carbs">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>
          Protien (g)
        </mat-label>
        <input matInput [pattern]="numberRegex" [(ngModel)]="userFoodItem.protien" required #protien="ngModel" name="protien">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field floatLabel="always">
        <mat-label>
          Serving Unit
        </mat-label>
        <input matInput [(ngModel)]="userFoodItem.servingUnit" required #servingUnit="ngModel" name="servingUnit">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>
          Amount Per Serving
        </mat-label>
        <input matInput [pattern]="numberRegex" [(ngModel)]="userFoodItem.amountPerServing" required #amountPerServing="ngModel" name="amountPerServing">
      </mat-form-field>
    </div>
  </ng-container>
</form>
