<h1 mat-dialog-title>
  Add New Item
</h1>
<mat-dialog-content>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Item</mat-label>
    <mat-select placeholder="Select item" [(ngModel)]="mealItem.key">
      <div id="search">
        <mat-icon>
          search
        </mat-icon>
        <input matInput placeholder="Search">
      </div>
        <mat-option [value]="userItemKey" *ngFor="let userItemKey of (userService.user.items | objectKeys)">
          {{userService.user.items[userItemKey].label}}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <app-meal-item-stats *ngIf="mealItem.key" [@userItemSelected] [userItem]="userService.user.items[mealItem.key]" [mealItem]="mealItem">
  </app-meal-item-stats>
</mat-dialog-content>
<mat-dialog-actions>
  <!--TODO: ngVar-->
  <button mat-stroked-button color="primary" mat-dialog-close (click)='addItem()'>Add</button>
  <button mat-stroked-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>