<mat-sidenav-container *ngIf="userService.user">
  <mat-sidenav mode="side" opened>
    <nav>
      <div style="display: flex; align-items: center;">
        <button mat-icon-button [matMenuTriggerFor]="navigationCalendar">
          <mat-icon>
            today   
          </mat-icon>
        </button>
        <h3 style="margin: 0 !important;">
          {{selectedDate | date: 'M/d/yyyy'}}
        </h3>
      </div>
      <div>
        <button mat-icon-button (click)="navigateToDate(selectedDate.setDate(selectedDate.getDate() - 1))">
          <mat-icon>
            keyboard_arrow_left
          </mat-icon>
        </button>
        <button mat-icon-button (click)="navigateToDate(selectedDate.setDate(selectedDate.getDate() + 1))">
          <mat-icon>
            keyboard_arrow_right
          </mat-icon>
        </button>
      </div>
    </nav>
    <div id="info">
      <mat-divider>
      </mat-divider>
      <div id="menu">
        <div>
          <h2>
            {{totalNutritionData[NutritionDataKeys.CALORIES]}}/{{userService.user.goals[NutritionDataKeys.CALORIES]}} Calories
          </h2>
          <mat-progress-bar mode="determinate" [value]="totalNutritionData[NutritionDataKeys.CALORIES]/userService.user.goals[NutritionDataKeys.CALORIES] * 100">
          </mat-progress-bar>
          <div id="macros">
            <div *ngFor="let macroKey of macroKeys">
              <h4>
                {{macroKey | titlecase}}:
              </h4>
              <mat-progress-bar mode="determinate" [value]="totalNutritionData[macroKey]/userService.user.goals[macroKey] * 100">
              </mat-progress-bar>
              <h4>
                {{totalNutritionData[macroKey]}}/{{userService.user.goals[macroKey]}}g
              </h4>
            </div>
          </div>
          <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip routerLink="goals">
              <mat-icon>
                bar_chart
              </mat-icon>
              Edit goals
            </mat-chip>
            <mat-chip routerLink="items">
              <mat-icon>
                edit
              </mat-icon>
              Edit items
            </mat-chip>
          </mat-chip-list>
        </div>
        <span class="mat-caption">
          v1.0 Dev
          <br>
          &copy;{{currentDate | date: 'yyyy'}} 
          <a href="https://blakeweissman.com" target="_blank">
            Blake Weissman
          </a>
        </span>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
    </router-outlet>
    <button mat-fab color="primary" routerLink="add">
      <mat-icon>
        add
      </mat-icon>
    </button>
    <app-log-items-table *ngIf="dataSource.data.length; else noLogItems" [dataSource]="dataSource" (servingsChanged)="setTotalNutritionDataAndUpdateFirestore()" [makeItemsRemovable]="true" (removeClicked)="removeLogItem($event)">
    </app-log-items-table>
    <ng-template #noLogItems>
      <div id="no-log-items">
        <span>
          No items added.
        </span>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-menu #navigationCalendar="matMenu">
  <div (click)="$event.stopPropagation();">
    <mat-calendar [selected]="selectedDate" (selectedChange)="onDateSelect($event)">
    </mat-calendar>  
  </div>
</mat-menu>