@import '../../../styles';
@import '~@angular/material/theming';
@include mat-core();

:host {
  @extend .mat-typography;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  max-width: 312px;
  width: 100%;
  padding: 24px;
}

// #macro-display {
//   // @include mat-elevation(2);
//   // border-radius: 0;
//   // background: mat-color($accent);
//   // width: 100%;
//   // color: mat-color($accent, 'accent-contrast');
//   // div {
//   //   max-width: 700px;
//   //   margin: 0 auto;
//   //   padding: 24px;
//   // }
//   // button {
//   //   margin-right: 15px;
//   // }
// }


h1 {
  margin: 0 !important;
  margin-bottom: 8px !important;
  line-height: inherit !important;
}

mat-expansion-panel-header {
  max-width: 700px;
  margin: 0 auto;
}

cdk-virtual-scroll-viewport {
  width: 100%;
  height: 100%;
}

[cdkdroplist] {
  height: 100%;
  //TODO Replace with something more cross-browser compatible
  max-width: fit-content;
  padding: 24px;
  margin: 0 auto;
}

[mat-fab] {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 35px;
}

mat-expansion-panel {
    margin-bottom: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0,0,0,.12) !important;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
}

mat-expansion-panel-header {
    h2 {
      margin: 0 !important;
    }
}

mat-chip {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.12);
  mat-icon {
    $size: 20px;
    font-size: $size;
    width: $size;
    height: $size;
    margin-right: 5px;
  }
}

h4 {
  margin-bottom: 10px !important;
}

::ng-deep  {
  &.mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0;
  }
  &.mat-content {
    justify-content: space-between;
    align-items: center;
  }
  &.mat-chip-list-wrapper {
    margin: 0 !important;
    .mat-standard-chip {
      margin: 0 !important;
      margin-bottom: 10px !important;
    }
  }
}