<mat-sidenav-container *ngIf="userService.user">
  <mat-sidenav mode="side" opened>
    <div id="macro-display">
      <h1>
        3000/3000 Cal
      </h1>
      <h4>
        Fat: 225/225g
        <br>
        Carbs: 225/225g
        <br>
        Protien: 225/225g
      </h4>
      <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip>
          <mat-icon>
            bar_chart
          </mat-icon>
          Change goals
        </mat-chip>
        <mat-chip>
          <mat-icon>
            edit
          </mat-icon>
          Edit items
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
    </router-outlet>
    <button mat-fab color="primary" routerLink="add">
      <mat-icon>
        add
      </mat-icon>
    </button>
    <!-- {{userService.user.log[userService.selectedEpoch][0].items | json}} -->
    <!-- <table mat-table [dataSource]="userService.user.log[userService.selectedEpoch]">
    </table>     -->
    <!-- <cdk-virtual-scroll-viewport itemSize="50">
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <!--
          TODO: In the future users will be able to catagorize foods into custom 
          meals. For now users can only store foods into the "Other" meal, which 
          just displays the list of foods without nesting them.
        <ng-container *cdkVirtualFor="let meal of userService.user.log[userService.selectedEpoch]">
          <ng-container *ngFor='let logItem of meal.items'>
            <mat-expansion-panel *ngIf="userService.user.items[logItem.key]; let userItem" [expanded]="true" hideToggle>
              <mat-expansion-panel-header>
                <h2>
                  {{userItem.label}}
                </h2>
                <mat-icon>
                  drag_handle
                </mat-icon>
              </mat-expansion-panel-header>
              <app-log-item-stats [logItem]="logItem" [userItem]="userItem">
              </app-log-item-stats>
              <button mat-stroked-button color="warn">Remove</button>
            </mat-expansion-panel>
          </ng-container>
        </ng-container>
      </div>
    </cdk-virtual-scroll-viewport> -->
  </mat-sidenav-content>
</mat-sidenav-container>