<strong>
  Terms &amp; Conditions
</strong> 
<p>
  These terms and conditions outline the rules and regulations for the use of Blake Weissman's Website, located at https://material-nutrition.web.app.
  <br>
  By accessing this website we assume you accept these terms and conditions. Do not continue to use Material Nutrition if you do not agree to take all of the terms and conditions stated on this page.
  <br>
  The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Individual’s terms and conditions. "The Individual", "Me", and "I", refers to the Individual. "Party", "Parties", or "Us", refers to both the Client and me. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Individual’s stated services. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
</p> 
<p>
  Blake Weissman is committed to ensuring that the website is as useful and efficient as possible. For that reason, we reserve the right to make changes to the website or to charge for its services, at any time and for any reason. We will never charge you for the app or its services without making it veryclear to you exactly what you’re paying for.
  <div>
    <p>
      The app does use third party services that declare their own Terms and Conditions.
    </p> 
    <p>
      Link to Terms and Conditions of third party service providers used by the app
    </p> 
    <ul>
      <li>
        <a href="https://firebase.google.com/terms/analytics" target="_blank" rel="noopener noreferrer">
          Google Analytics for Firebase
        </a>
      </li>
    </ul>
  </div> 
  <p>
    You should be aware that there are certain things that Blake Weissman will not take responsibility for. Certain functions of the website will require your internet browser to have an active internet connection. The connection can be Wi-Fi, or provided by your mobile network provider, but Blake Weissman cannot take responsibility for the website not working at full functionality if you don’t have access to Wi-Fi, and you don’t have any of your data allowance left.
  </p> 
  <p>
    If you’re using the website outside of an area with Wi-Fi, you should remember that your terms of the agreement with your mobile network provider will still apply. As a result, you may be charged by your mobile provider for the cost of data for
                  the duration of the connection while accessing the website, or
                  other third party charges. In using the website, you’re accepting
                  responsibility for any such charges, including roaming data
                  charges if you use the app outside of your home territory
                  (i.e. region or country) without turning off data roaming. If
                  you are not the bill payer for the device on which you’re
                  using the website, please be aware that we assume that you have
                  received permission from the bill payer for using the website.
                </p> <p>
                  Along the same lines, Blake Weissman cannot always take
                  responsibility for the way you use the website i.e. You need to
                  make sure that your device stays charged – if it runs out of
                  battery and you can’t turn it on to avail the Service,
                  Blake Weissman cannot accept responsibility.
                </p> <p>
                  With respect to Blake Weissman’s responsibility for your
                  use of the website, when you’re using the website, it’s important to
                  bear in mind that although we endeavour to ensure that it is
                  updated and correct at all times, we do rely on third parties
                  to provide information to us so that we can make it available
                  to you. Blake Weissman accepts no liability for any
                  loss, direct or indirect, you experience as a result of
                  relying wholly on this functionality of the website.
                </p>
                <!--<p><strong>Cookies</strong></p> <p>
We employ the use of cookies. By accessing Material Nutrition, you agreed to use cookies in agreement with Blake Weissman's Privacy Policy.
</p> <p>
Most interactive websites use cookies to let me retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
</p>--> <p><strong>License</strong></p> <p>
This Agreement shall begin on the date hereof. 
                </p><p><strong>Your Privacy</strong></p> <p>
                  Please read this Website's Privacy Policy
                </p>
                <p><strong>Changes to This Terms and Conditions</strong></p> <p>
                  I may update our Terms and Conditions
                  from time to time. Thus, you are advised to review this page
                  periodically for any changes. I will
                  notify you of any changes by posting the new Terms and
                  Conditions on this page.
                </p> <p>
                  These terms and conditions are effective as of 2020-09-24
                </p> <p><strong>Contact Us</strong></p> <p>
                  If you have any questions or suggestions about my
                  Terms and Conditions, do not hesitate to contact me
                  at contact@blakeweissman.com.
                </p>
