<mat-sidenav-container *ngIf="userService.user">
  <mat-sidenav mode="side" [opened]="!appService.isMobile">
    <app-date-navigation>
    </app-date-navigation>
    <div id="info">
      <mat-divider>
      </mat-divider>
      <div id="menu">
        <div>
          <app-goals-display [nutritionData]="nutritionData">
          </app-goals-display>
        </div>
        <span class="mat-caption">
          v1.0 Beta
          <br>
          &copy;{{currentDate | date: 'yyyy'}} 
          <a href="https://blakeweissman.com" target="_blank">
            Blake Weissman
          </a>
        </span>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
    </router-outlet>
    <button mat-fab color="primary" routerLink="add">
      <mat-icon>
        add
      </mat-icon>
    </button>
    <ng-container *ngIf="appService.isMobile">
      <mat-toolbar>
        <app-date-navigation>
        </app-date-navigation>
      </mat-toolbar>
      <div id="mobile-goals-display">
        <app-goals-display [nutritionData]="nutritionData">
        </app-goals-display>
      </div>
    </ng-container>
    <app-log-items-table *ngIf="dataSource.data?.length; else noLogItems" [dataSource]="dataSource" (servingsChanged)="setNutritionDataAndUpdateFirestore()" [makeItemsRemovable]="true" (removeClicked)="removeLogItem($event)">
    </app-log-items-table>
    <ng-template #noLogItems>
      <div id="no-log-items">
        <span>
          No items added.
        </span>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>